* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #0f0f0f, #222);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;

}
.calculator {
    width: 90%;
    max-width: 320px;
    background: #111;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}
#display {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
button {
    padding: 18px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
@media (max-width: 500px) {
    button {
        padding: 18px;
        font-size: 1.2rem;
    }
}